<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealFinder</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="background">

        <div class="loginContainer">
            
            <h1>SNAG-A-MEAL</h1>
            <form action="meals.html" id="loginForm">
                <!-- <label class="label" >Name</label> -->
                <input class="input" type="text" name="name" placeholder="Name" required> 
                <!-- <label  class="label">Email</label> -->
                <input class="input" type="email" name="email" placeholder="Email" required>
                <button id="join">Login</button>
            </form>

        </div>

    </div>
</body>
</html>