  <header>
    <div class="searchBar">
        
            <div class="headerContainer">
                <div id="salmonContainer">
                    <img src="/img/salmon.jpg" alt="">
                </div>
                <div class="headerTitle">
                    <h1>SNAG-A-MEAL</h1>
                </div>
                <div class="searchFormContainer">
                    <form action="" id="searchForm">
                        <input id="searchInput" type="text" placeholder="Search meals">
                    </form>
                </div>
            </div>
            
        </div>
    </header>