/* Color Theme Swatches in RGBA */
$darkestblue: rgba(0,17,38, 1);
$darkblue: rgba(1,28,63, 1);
$blue: rgba(3,65,89, 1);
$teal: rgba(3,73,89, 1);
$yellow: rgba(242,215,133, 1);
$tan: rgba(242,235,213, 1);
$pink: rgba(191,109,101, 1);
